.page-header
  %h1
    Boards

%p
  = link_to 'Create Board', [:new, :board]

- unless collection.empty?
  %table.table
    - collection.each do |resource|
      %tr
        %td= link_to resource.name, board_snippets_path(resource)
        %td 0 users
        %td 0 snippets
        %td= link_to 'edit', [:edit, resource]



